.btn {
  appearance: none;
  border: 1px solid $black;
  background: transparent;
  border-radius: $br * 2;
  padding: 0.25em 0.75em;
  cursor: pointer;
  text-decoration: none;
  font-size: var(--ms--1);
  &.active {
    background: $black;
    color: var(--bg);
  }
  &:hover{
    text-decoration: underline;
  }
}
