.chapter {
  padding-top: 8rem;
}

.chapter--header {
  grid-column: 1 / 13;
  padding-bottom: 1rem;
  @include bp(m) {
    padding-top: 5rem;
    padding-bottom: 2rem;
    grid-column: 5 / 11;
  }
  h2 {
    font-weight: 600;
    letter-spacing: -0.01em;
    font-size: var(--ms-4);
    @include bp(m) {
      font-size: var(--ms-5);
    }
  }
}

.chapter--nav {
  font-size: var(--ms--1);
  grid-column: 1 / 13;
  margin-bottom: 2rem;
  width: 90%;
  @include bp(m) {
    grid-column: 1 / 4;
  }
  .chapter--nav-inner {
    @include bp(m) {
      max-width: 20em;
      top: calc(var(--ms-0) * 6);
      position: fixed;
    }
  }
  li {
    list-style: none;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid $black;
    &:last-of-type {
      @include bp(m) {
        border-bottom: 0;
      }
    }
    &.current {
      background: $black;
      color: var(--bg);
      font-weight: 600;
      a {
        pointer-events: none;
      }
    }
  }
  .index {
    font-weight: 400;
    width: 2em;
    font-family: $mono;
    display: inline-block;
  }
  a {
    padding: 0.5em;
    text-decoration: none;
    display: block;
    width: 100%;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
