.events-list {
  display: contents;
}

.event {
  @extend .card;
}

.event--datum {
  flex-basis: 50%;
  flex-grow: 1;
  em {
    display: block;
    font-style: normal;
    font-weight: 600;
  }
  span {
    display: block;
  }
}
