* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
}
a,
button {
  &:-moz-focusring {
    outline: 3px solid rgb(255, 255, 255) !important;
  }
}

.sr {
  visibility: hidden
}

body {
  @extend %grid;
  font-family: $sans;
  hyphens: auto;
  font-size: var(--ms-0);
  letter-spacing: 0.005em;
  font-weight: 300;
  background: $lightgray;
  overflow-x: hidden;
  width: 100vw;
  color: $black;
  padding-top: 4rem;
  --bg: #{$lightgray};

  &.news,
  &.post {
    background: $red;
    --bg: #{$red};
  }
  &.books {
    background: $green;
    --bg: #{$green};
  }
  &.events {
    background: $sky;
    --bg: #{$sky};
  }
  &.research,
  &.chapter {
    background: $yellow;
    --bg: #{$yellow};
  }
}

::selection {
  color: white;
  background: $blue;
}

button,
input {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  opacity: 0;
  transition: $fast;
  transition-delay: 100ms;
  &.loaded {
    opacity: 1;
  }
}
