* {
  box-sizing: border-box;
  font-size: 100%;
  padding: 0;
  margin: 0;
  font-weight: inherit;
  color: inherit;
}
a,
button {
  &:-moz-focusring {
    outline: 3px solid rgb(0, 255, 255) !important;
  }
}

body {
  font-family: $sans;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-left: 3%;
  padding-right: 3%;
  grid-template-rows: auto auto;
  column-gap: 3%;
  row-gap: 0;
  font-size: var(--ms-0);
  letter-spacing: 0.005em;
  font-weight: 300;
  background: $lightgray;
  color: $black;
  --bg: #{$lightgray};
  &.news {
    background: $red;  
    --bg: #{$red};
  }
  &.books {
    background: $green;
    --bg: #{$green};
  }
  &.events {
    background: $sky;
    --bg: #{$sky};
  }
  &.research, &.chapter {
    background: $yellow;
    --bg: #{$yellow};
  }
}

::selection {
  color: $black;
  background: white;
}

button,
input {
  font-family: inherit;
  color: inherit;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
