$slideHeight: 66.6666vh;
.home-hero {
  grid-column: 1 / 13;
  margin-left: -3vw;
  width: calc(100% + 8.7vw);
  height: $slideHeight;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  border-bottom: 1px solid $black;
}

.hero-slider {
  height: $slideHeight;
  overflow: hidden;
  display: flex;
  position: relative;
  overflow: visible;
  transition: $slow opacity;
  opacity: 0;
  will-change: transform;
  &.loaded {
    opacity: 1;
  }
}

.slide {
  display: inline-block;
  width: auto;
  opacity: 1;
  img {
    height: $slideHeight;
    width: auto;
    display: block;
  }
}

.home-copy {
  grid-column: 2 / 14;
  padding-bottom: 2em;
  color: $black;
  font-size: var(--ms-2);
  padding-top: 1em;
  max-width: 30em;
  @include bp(m) {
    font-size: var(--ms-3);
    grid-column: 5 / 14;
  }
  a {
    display: block;
  }
  p {
    flex-basis: 20em;
  }

  h2 {
    flex-basis: 90%;
    margin-bottom: 1em;
    line-height: 1.1;
    max-width: 40em;
    @include bp(m) {
      padding-right: 2em;
    }
  }
}

.teasers {
  display: contents;
}
.teasers--title {
  grid-column: 1 / 13;
  font-size: var(--ms-3);
  margin-top: 1em;
  margin-bottom: .5em;
  display: flex;
  align-items: center;
  .btn {
    position: relative;
    top: .2em;
    margin-left: 1em;
  }
}