.home-hero {
  grid-column: 1 / 15;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  overflow-x: hidden;
  &:after {
    content: "";
    background-color: rgba(black, .15);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    pointer-events: none;
  }
  h1 {
    font-family: Times, Times New Roman, serif;
    font-size: 18vw;
    position: relative;
    z-index: 90;
    line-height: 1;
    @include bp(m) {
      font-size: 11vw;
      line-height: 0.9;
    }
    display: block;
    letter-spacing: -0.005em;
    margin-bottom: 4rem;
    text-shadow: 0 0 12px rgba(black, 0.2);
  }
  span {
    position: relative;
    z-index: 1000;
    display: block;
    letter-spacing: 0.04em;
    font-size: var(--ms-2);
    @include bp(m) {
      font-size: var(--ms-3);
    }
    font-weight: 500;
    text-transform: uppercase;
    text-shadow: 0 0 5px rgba(black, 0.2);
  }
}

.hero-copy {
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 20%;
  padding-bottom: 30%;
  @include bp(m){
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.hero-slides {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  animation: slide calc(12s * var(--slide-count)) infinite both linear;
  @include bp(m){
    animation: slide calc(20s * var(--slide-count)) infinite both linear;
  }
  .slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    flex-basis: 100vw;
    display: inline-block;
    height: 100vh;
    opacity: 1;
  }
}

.home-copy {
  grid-column: 2 / 14;
  padding-bottom: 2em;
  color: gray;
  font-size: var(--ms-0);
  padding-top: 1em;
  @include bp(m) {
    display: flex;
    justify-content: space-between;
    color: white;
  }
  a {
    display: block;
  }
  p {
    flex-basis: 20em;
  }

  h2 {
    color: white;
    flex-basis: 90%;
    font-size: var(--ms-2);
    margin-bottom: 1em;
    line-height: 1.1;
    max-width: 40em;
    @include bp(m){
      padding-right: 2em;
    }
  }
}
