.info--content {
  grid-column: 5 / 12;
  p {
    max-width: 40em;
    margin-bottom: .5em;
    line-height: 1.35;
  }
  h2 {
    font-size: var(--ms-3);
    margin-top: 1em;
    margin-bottom: .25em
  }
}
