.news {
  .news-card {
    @include bp(s) {
      grid-column: span 12;
    }
    @include bp(m) {
      grid-column: 5 / 12;
    }
  }
  .card--title {
    font-size: var(--ms-2);
  }
}

.news-list {
  display: contents;
}
