.news {
  .news-card {
    @include bp(s) {
      grid-column: span 12;
    }
    @include bp(m) {
      grid-column: 5 / 12;
    }
  }
  .card--copy {
    font-size: var(--ms-1);
  }
  .card--title {
    font-size: var(--ms-2);
    margin-bottom: .1em;
  }
}

.news-list {
  display: contents;
}
