.page--header {
  grid-column: 1 / 13;
  max-width: 22em;
  line-height: 1.1;
  padding-bottom: 1em;
  padding-top: 20vh;
  font-size: var(--ms-2);
  font-weight: 600;
  @include bp(s) {
      font-size: var(--ms-4);
      font-weight: 400;
  }
  @include bp(m) {
    padding-top: 1em;
    padding-bottom: 2.5em;
    grid-column: 5 / 12;
  }
  p {
    padding-bottom: 0.5em;
  }
}
