.chapter--nav-title {
  font-weight: 800;
  padding: 0.5em;
  a {
    padding: 0 !important;
    display: inline;
  }
}

.readingTime {
  font-size: var(--ms--1);
  color: var(--bg);
  color: $black;
  border-radius: 1em;
  padding: 0.2em 0.75em;
  white-space: nowrap;
  margin-right: 1rem;
  display: none;
}
.chapter--title {
  font-size: var(--ms-5);
  a {
    text-decoration: none;
  }
  span {
    margin-right: 1em;
  }
}
