.chapters {
  grid-column: 1 / 13;
  font-size: var(--ms-0);
  @include bp(m) {
    grid-column: 5 / 12;
    font-size: var(--ms-1);
  }
  list-style: none;
  .chapter--nav {
    font-size: inherit;
    li {
      border-left: 4px solid black;
    }
  }
}
.chapter--title {
  font-size: var(--ms-5);
  a {
    text-decoration: none;
  }
  span {
    margin-right: 1em;
  }
}
