.site-header {
  position: fixed;
  top: 0;
  left: 0;
  .home & {
    position: sticky;
    top: -1px;
    grid-column: 1 / 13;
  }
  display: flex;
  z-index: 2000;
  padding: 0.9rem var(--padding);
  padding-bottom: 0.8rem;
  width: 100%;
  justify-content: space-between;
  color: $black;
  font-weight: 500;
  transition: $fast;
  border-bottom: 1px solid transparent;
  .scrolled &,
  .home & {
    background: var(--bg);
    box-shadow: 0 3px 8px -5px rgba(black, .3);
   }
  @include bp(mr) {
    background: var(--bg);
    box-shadow: 0 3px 8px -3px rgba(black, .3);
  }
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.site--title {
  font-weight: 600;
}

.toggle-menu {
  appearance: none;
  border: 0;
  background: none;
  padding: 0;
  position: fixed;
  top: 0.75rem;
  z-index: 1000;
  right: 3%;
  cursor: pointer;
  .menu-active & {
    top: 0.75rem;
    position: fixed !important;
  }
  .home & {
    position: sticky;
  }
  .menu-active & {
    color: white;
  }
  @include bp(m) {
    display: none;
  }
}

.site--nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  color: white;
  font-size: var(--ms-4);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: $fast;
  pointer-events: none;
  .menu-active & {
    opacity: 1;
    pointer-events: all;
  }
  @include bp(m) {
    position: static;
    opacity: 1;
    background: transparent;
    pointer-events: all;
    font-size: var(--ms-0);
    color: $black;
    flex-flow: row;
    width: auto;
    align-items: flex-start;
  }
}

.nav--link {
  text-transform: capitalize;
  margin-bottom: 0.25em;
  opacity: 0;
  transition: $fast;
  transform: translateY(20px);
  .menu-active & {
    transform: translateY(0);
    opacity: 1;
  }
  @include bp(m) {
    transform: translateY(0);
    opacity: 1;
  }

  @for $i from 1 to 6 {
    &:nth-of-type(#{$i}) {
      transition-delay: $fast + $i * 30ms;
    }
  }
  @include bp(m) {
    margin-bottom: 0;
    margin-right: 1em;
  }
  &:last-of-type {
    margin-right: 0;
  }
  &:hover,
  &:focus,
  &.active {
    text-decoration: underline;
  }
}

.site-footer {
  grid-column: 1 / 13;
  padding-bottom: 2rem;
  .home & {
    display: none;
  }
  padding-top: 6rem;
  text-align: center;
  color: black;
  font-size: var(--ms--1);
  opacity: 0.5;
}

.error-copy {
  grid-column: 1 / 13;
  padding-top: 6em;
}