@mixin bp($point) {
  @if $point==xl {
    @media (min-width: 1800px) {
      @content;
    }
  }
  @if $point==l {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $point==m {
    @media (min-width: 1000px) {
      @content;
    }
  } @else if $point==mr {
    @media (max-width: 1000px) {
      @content;
    }
  } @else if $point==s {
    @media (min-width: 600px) {
      @content;
    }
  }
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

$sans: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$mono: monospace;
$blue: #1f44e9;
$lightgray: rgb(245, 247, 250);
$yellow: #ffd200;
$green: #10cc40f5;
$red: #ff5c1e;
$sky: #96ddef;
$black: rgb(4, 4, 4);
$fast: 220ms;
$slow: 550ms;
$br: 2px;
$cardBorder: 1px solid white;
$slideHeight: 65vh;

:root {
  --padding: max(2%, 1.2rem);
  --ratio: 1.25;
  --ms-0: clamp(1rem, 1.3vw, 1.3rem);
  --ms--2: calc(var(--ms--1) / var(--ratio));
  --ms--1: calc(var(--ms-0) / var(--ratio));
  --ms-1: calc(var(--ms-0) * var(--ratio));
  --ms-2: calc(var(--ms-1) * var(--ratio));
  --ms-3: calc(var(--ms-2) * var(--ratio));
  --ms-4: calc(var(--ms-3) * var(--ratio));
  --ms-5: calc(var(--ms-4) * var(--ratio));
  --ms-6: calc(var(--ms-5) * var(--ratio));
  --ms-7: calc(var(--ms-6) * var(--ratio));
  --ms-8: calc(var(--ms-7) * var(--ratio));
}

%grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto auto;
  row-gap: 0;
  column-gap: var(--padding);
  padding-left: var(--padding);
  padding-right: var(--padding);
}
