---
layout: base
class: events
---

{% assign tags = "" | split: "" %}
{% for e in collections.events %}
{% assign taglist = tags | join: "" %}
{% assign t = e.data.eyebrow | slug %}
{% unless taglist contains t %}
{% assign tags = tags | concat: t %}
{% endunless %}
{% endfor %}

<header class="page--header">
    {{events.intro | renderMarkdown}}
    <div class="filters">
        <nav>
            <button class="active filter" data-filter="all">All</button>
            {%for tag in tags %}
            <button class="filter" data-filter="{{tag | slug}}">{{tag}}</button>
            {% endfor %}
        </nav>
    </div>
</header>

<ul class="events-list filtered-list">
    {% for item in collections.events %}
    {% include "event-card.liquid" with {item: item, size: "small"}%}
    {% endfor %}
</ul>