---
layout: base
class: events
---

{% assign tags = "" | split: "" %}
{% for e in collections.events %}
{% assign taglist = tags | join: "" %}
{% unless taglist contains e.data.eyebrow %}
{% assign tags = tags | concat: e.data.eyebrow%}
{% endunless %}
{% endfor %}

<header class="page--header">
    {{events.intro | renderMarkdown}}
    <div class="filters">
        <nav>
            <button class="active filter" data-filter="all">All</button>
            {%for tag in tags %}
            <button class="filter" data-filter="{{tag | slug}}">{{tag}}</button>
            {% endfor %}
        </nav>
    </div>
</header>

<ul class="events-list filtered-list">
    {% for item in collections.events %}
    {% include event-card.liquid with {item: item}%}
    {% endfor %}
</ul>