---
layout: base
class: home
---

<header class="home-hero">
    <h1>{{settings.site_title}}</h1>
    <span>Coming Soon</span>
</header>

<article class="home-copy">
    {{home.content | renderMarkdown}}
</article>