---
layout: base
class: home
---

<header class="home-hero">
    <div class="hero-slider">
        {% for slide in home.hero_images %}
        <div class='slide'>
            <img src="{{slide.url | resize: 1500}}" alt="">
        </div>
        {% endfor %}
        <div class="slide last">
            <img class='slide' src="{{home.hero_images[0].url | resize: 1500}}" alt="">
        </div>
    </div>
</header>

<article class="home-copy">
    {{home.content | renderMarkdown}}
</article>