---
layout: base
class: home
---

<header class="home-hero">
    <h1>{{settings.site_title | safe}}</h1>
    <span>Coming Soon</span>
    <div class="hero-slides">
        <div class="slide" style="background-image: url(/assets/uploads/hills@1500w.jpg)"></div>
        <div class="slide" style="background-image: url(/assets/uploads/hills@1500w.jpg)"></div>
    </div>
</header>

<article class="home-copy">
    {{home.content | renderMarkdown}}
</article>