---
layout: base
class: home
---

<header class="home-hero">
    <div class="hero-slider">
        {% for slide in home.hero_images %}
        <div class='slide'>
            <img src="{{slide.url}}?nf_resize=fit&w=900" alt="">
        </div>
        {% endfor %}
        <div class="slide last">
            <img class='slide' src="{{home.hero_images[0].url}}?nf_resize=fit&w=900" alt="">
        </div>
    </div>
</header>
{% include "header.liquid" %}
<main class="home-container">
    <article class="home-copy">
        {{home.content | renderMarkdown}}
    </article>
    {% if settings.show_content %}
    <section class="teasers">
        <h2 class="teasers--title">News <a href="/news" class="btn">View all</a></h2>
        <ul class="teasers">
            {% for item in collections.news %}
            {% if forloop.index0 < 3%} {% include "news-card.liquid" with {item: item, size: "small"}%} {% endif %} {% endfor %} </ul>
    </section>
    <section class="teasers">
        <h2 class="teasers--title">Events <a href="/events" class="btn">View all</a></h2>
        <ul class="teasers">
            {% for item in collections.events %}
            {% if forloop.index0 < 3%} {% include "event-card.liquid" with {item: item, size: "small"}%} {% endif %} {% endfor %} </ul>
    </section>
    <section class="teasers">
        <h2 class="teasers--title">Books <a href="/books" class="btn">View all</a></h2>
        <ul class="teasers">
            {% for item in collections.books %}
            {% if forloop.index0 < 3%} {% include "book-card.liquid" with {item: item, size: "small"}%} {% endif %} {% endfor %} </ul>
    </section>
    {% endif %}
</main>