---
layout: base
class: information
---

<header class="page--header">
    <p>The United Generations is a social enterprise aimed to develop, through education, design, and art, local and sustainable strategies to empower the older population and bridge the gap among generations.</p>
</header>

<article class="info--content">
    {{about.content | renderMarkdown}}
</article>