<li class="book-card">
    <section class="card--image">
        <img src="{{book.data.featured_image.image}}" alt="{{book.data.featured_image.alt}}">
    </section>
    <h2 class="card--title">
        {{book.data.title}}
    </h2>
    <div class="card--copy">
        {{book.data.intro}}
    </div>
</li>