<header class="site-header">
    <a href="/">The United Generations</a>
    <nav class="site--nav">
      <a href="/research">Research</a>
      <a href="/news">News</a>
      <a href="/books">Books</a>
      <a href="/events">Events</a>
      <a href="/information">Information</a>
    </nav>
  </header>