---
layout: base
class: info
---

<header class="page--header">
    {{intro | renderMarkdown}}
</header>

<main class="post--content">
    {% if introduction != "" %}
    <section class="post--intro">
        {{introduction}}
    </section>
    {% endif %}
    {{content}}
</main>